<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>HealthLit Engine</title>

		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/logo-nav.css" rel="stylesheet">

		<script src="http://ajax.googleapis.com/ajax/libs/jqueiry/1.11.2/jquery.min.js">
                </script>
	</head>
	<body>
		<div>
			<a>
				<img src="http://www.wistrans.org/cfire/documents/vanderbilt_logo.jpg" alt="">
			</a>
		</div>
		<div>
			<h1>HealthLit Engine</h1>
			<p>Enter medical terms of interest to get a list of relevant literature.</p>
		</div>
		<div>
			<form method="POST">
				<input name="item_query" id="id_new_item" placeholder="Enter query."/>
				{% csrf_token %}
			</form>
		</div>
		<div>
			<table id="id_list_table">
				<tr><td><b>{{ last_item }}</b></tr></td>
				{% for papers in clusters %}
					{% for paper in papers %}
						<tr><td><b>Cluster {{ paper.0 }}: {{paper.1.title }}</b></td></tr>
						<tr><td>{{ paper.1.abstract }}</td></tr>
					{% endfor %}
				{% endfor %}
			</table>
		</div>

		<script src="css/jquery.js"></script>
		<script src="css/bootstrap.min.js"></script>
	</body>
</html>
