{% load staticfiles %}
<html>
	<head>
		<title>Healthcare Tool</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/tool.css' %}">
	</head>
	<body>
		<div>
			<form method="POST">
				<input name="item_query" id="id_new_item" placeholder="Enter query."/>
				{% csrf_token %}
			</form>
		</div>

		<div>
			<table id="id_list_table">
				{% for item in items %}
				<tr><td>{{ item.query }}</td></tr>
				{% endfor %}
			</table>
		</div>
	</body>
</html>
