{% load staticfiles %}
<html>
	<head>
		<title>Healthcare Tool</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/tool.css' %}">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
                </script>
	</head>
	<body>
		<div>
			<form method="POST">
				<input name="item_query" id="id_new_item" placeholder="Enter query."/>
				{% csrf_token %}
			</form>
		</div>
		<div>
			<table id="id_list_table">
				<tr><td><b>{{ last_item }}</b></tr></td>
				{% for papers in clusters %}
					{% for paper in papers %}
						<tr><td><b>Cluster {{ paper.0 }}: {{paper.1.title }}</b></td></tr>
						<tr><td>{{ paper.1.abstract }}</td></tr>
					{% endfor %}
				{% endfor %}
			</table>
		</div>
	</body>
</html>
